<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://todowebapp20250323151617.scm.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/577bd6c7-9bf3-4bcc-ac84-5a3dd28c125f/resourcegroups/Test/providers/Microsoft.ContainerRegistry/registries/TodoWebApp20250323151845</ContainerResourceId>
    <ContainerResourceName>TodoWebApp20250323151845</ContainerResourceName>
    <Subscription>Azure-Abonnement 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>todowebapp20250323151845.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/577bd6c7-9bf3-4bcc-ac84-5a3dd28c125f/resourcegroups/Test/providers/Microsoft.Web/sites/TodoWebApp20250323151617</ResourceId>
    <ResourceGroup>Test</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://todowebapp20250323151617.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>03c5c659-8301-4155-8ed0-70959f39c71f</ProjectGuid>
  </PropertyGroup>
</Project>